BOT_TOKEN=
ADMIN_ID=

# One DB only:
DB_PATH=/var/lib/robuser/db.sqlite

# Internal API
INTERNAL_API_SECRET=
INTERNAL_API_PORT=8088

# Payments
ZARINPAL_MERCHANT_ID=
ZARINPAL_SANDBOX=0
BASE_CALLBACK_URL=
